<div class="container">
	<div class="row">
		{{#each dbname}}
            {{#each this}}
                <h3 class="page-header" id="db-name" data="{{this}}">{DG} {{this}}</h3>
            {{/each}}
        {{/each}}
	</div>
	<div class="row">


		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="db-tables" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Select Table
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="db-tables">

                {{#each tables}}
                    <!--We loop through the key, otherwise it would be hardcoded-->
                    {{#each this}}
                        <li data="{{this}}"><a>{{this}}</a></li>
                    {{/each}}
                {{/each}}
			</ul>
		</div>
	</div>

<div class="row" id="table-display">
	
</div>
</div>
