<div class="container">
	<div class="row page-header">
        <div class="col-md-6">
		{{#each dbname}}
            {{#each this}}
                <h3 id="db-name" data="{{this}}">{DG} {{this}}</h3>
            {{/each}}
        {{/each}}
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <input  id="search-title" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
        <button id="search-submit" class="btn btn-default disabled" type="button">Go!</button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
	</div>
	<div class="row">



		<div class="dropdown col-md-3">
			<button class="btn btn-default dropdown-toggle" type="button" id="db-tables" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Select Table
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="db-tables">

                {{#each tables}}
                    <!--We loop through the key, otherwise it would be hardcoded-->
                    {{#each this}}
                        <li data="{{this}}"><a>{{this}}</a></li>
                    {{/each}}
                {{/each}}
			</ul>
		</div>
        <div class="col-md-9"><p class="messages"></p></div>

	</div>

<div class="row" id="table-display">
	
</div>
</div>
