
<div class="container">
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>

    <!-- Table -->

    <table class="table">
        <thead>
            <tr>
                {{#each  fields}}
                    <th>{{name}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
        {{#each rows}}
            <tr>
                {{# each this }}
                    <td>
                        {{this}}
                    </td>
                {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
</div>